table{
    width: 100%;
    border: 1px solid #CCC;
    text-align: center;
}
thead, tfoot{
    font-weight: bold;
    background-color: #EEE;
}
td{
    border-bottom: 1px solid #CCC;
    height: 60px;
}
.admin{
    color: red;
}
.editor{
    color: yellow;
}
.user{
    color: green;
}
.disabled{
    text-decoration: line-through;
}
