<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyApp</title>

    <!-- Angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>



    <script src="users.js"></script>
    <script src="app.js"></script>

    <!-- App -->
    <link rel="stylesheet" href="app.css">
</head>

<!-- App bootstrap -->
<body ng-app="MyAppApp">
    <div ng-controller="MainCtrl as vm">

        <form ng-submit="vm.handleSubmit()">
            <input type="text" name="username" placeholder="Filter by username" ng-model="vm.otherVar"/>
            <input type="submit" value="Send">
        </form>

        <table>
            <thead>
                <tr>
                    <th ng-click="vm.order='username'">Username</th>
                    <th ng-click="vm.order='name'">Name</th>
                    <th ng-click="vm.order='balance'">Balance</th>
                    <th ng-click="vm.order='role'">Role</th>
                    <th ng-click="vm.sortBy('createdAt')">CreatedAt</th>
                    <th ng-click="vm.order='disabled'">Disabled</th>
                    <th ng-click="vm.order='url'">Url</th>
                    <th ng-click="vm.order='image'">Image</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="user in vm.users | orderBy:vm.order | filter: {username: vm.userFilter}" ng-class="{disabled: user.disabled}">
                    <td>{{user.username | lowercase}}</td>
                    <td>{{user.name | uppercase}}</td>
                    <td>{{user.balance | currency}}</td>
                    <td ng-class="user.role" ng-switch="user.role">
                        {{user.role}}
                        <span ng-switch-when="admin">
                            !!!
                        </span>
                        <span ng-switch-when="editor">
                            !!
                        </span>
                        <span ng-switch-when="user">
                         :(
                     </span>
                 </td>
                 <td>{{user.createdAt | date:'yyyy-MM-dd HH:mm:ss Z'}}</td>
                 <td>
                    {{user.disabled}}
                </td>
                <td><a ng-href="{{user.url}}">Link</a></td>
                <td><img ng-src="{{user.image}}" alt=""></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="9">
                    {{vm.users.length}} Users
                </td>
            </tr>
        </tfoot>
    </table>
</div>
</body>
</html>
